:root {
    --grey-0: #F8F9FA;
    --grey-2: #E9ECEF;
    --grey-3: #DEE2E6;
    --grey-4: #CED4DA;
    --grey-6: #868E96;
    --grey-7: #495057;
    --grey-8: #343A40;
    --grey-9: #212529;
    --red-4: #FFA8A8;
    font-family: roboto;
    background-color: var(--grey-2);
}

.form-bg {
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 888px;
    height: fit-content;
    padding-bottom: 100px;
    border-radius: 20px;
    background-color: var(--grey-9);
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-left: 90px;
    padding-top: 155px;
    padding-right: 90px;
    max-width: 880px;
    min-width: 400px;
    gap: 35px;
}

.title-close-btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    flex-wrap: nowrap;

}

.main-title {
    width: 100%;
    height: fit-content;
    color: var(--grey-0);
    font-style: normal;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.2;
}

.close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--grey-4);
    font-size: 32px;
    font-weight: 400;
    line-height: 1.2;
    text-decoration: none;
    text-transform: none;
    width: 42px;
    height: 40px;
    border-radius: 5px;
    background-color: rgba(33, 37, 41, 1);
    border: 1px solid rgba(134, 142, 150, 1);
}

.close-btn:hover {
    background-color: var(--red-4);
}

.entry-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap: 6px;
    width: 100%;
}

.entry-title {
    color: var(--grey-6);
    font-style: normal;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.05px;
    text-decoration: none;
    text-transform: none;
}

.entry-box {
    width: 100%;
    height: 55px;
    border-radius: 10px;
    color: var(--grey-3);
    background-color: var(--grey-7);
    border: none;
}

.entry-box::placeholder {
    color: var(--grey-6);
    padding-left: 10px;
}

.macro-container {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    justify-content: flex-start;
    max-width: 709px;
    height: auto;
    gap: 10px 30px;
    padding: 0px;
    flex-wrap: wrap;
}

.entry-container-small {
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 181px;
    height: fit-content;
    gap: 6px;
    padding: 0px;
    flex-wrap: nowrap;
}

.sub-text {
    width: 100%;
    height: fit-content;
    color: var(--grey-4);
    font-style: normal;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.05px;
    text-decoration: none;
    text-transform: none;
}

.create-btn-container {
    align-self: flex-end;
}

.create-btn {
    width: 139px;
    height: 45px;
    border-radius: 10px;
    background-color: var(--grey-9);
    border-color: var(--grey-4);
    color: var(--grey-4);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0px;
    text-decoration: none;
    text-transform: uppercase;
}

.create-btn:hover {
    background-color: green;
}
